/* Flexoki Color Variables */
:root {
    /* Base colors */
    --paper: #FFFCF0;
    --base-50: #F2F0E5;
    --base-100: #E6E4D9;
    --base-150: #DAD8CE;
    --base-200: #CECCC3;
    --base-300: #B7B5AC;
    --base-400: #9F9D94;
    --base-500: #878580;
    --base-600: #6F6E69;
    --base-700: #575653;
    --base-800: #403E3C;
    --base-900: #282726;
    --base-950: #1C1B1A;
    --black: #100F0F;
    
    /* Accent colors */
    --red-600: #AF3029;
    --red-400: #D14D41;
    --orange-600: #BC5215;
    --orange-400: #DA702C;
    --yellow-600: #AD8301;
    --yellow-400: #D0A215;
    --green-600: #66800B;
    --green-400: #879A39;
    --cyan-600: #24837B;
    --cyan-400: #3AA99F;
    --blue-600: #205EA6;
    --blue-400: #4385BE;
    --purple-600: #5E409D;
    --purple-400: #8B7EC8;
    --magenta-600: #A02F6F;
    --magenta-400: #CE5D97;
}

body {
    background-color: var(--paper);
    color: var(--black);
    margin: 0;
    padding: 0;
}

article {
    width: 720px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 45px;
    margin-bottom: 0;
    color: var(--black);
    font-weight: 700;
}

h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    color: var(--black);
    font-weight: 600;
}

h3 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 8px;
    color: var(--black);
}

p {
    margin-top: 10px;
    color: var(--black);
}

a {
    color: var(--blue-600);
    text-decoration: none;
}

a:hover {
    color: var(--blue-400);
    text-decoration: underline;
}

a:visited {
    color: var(--purple-600);
}

ol, ul {
    color: var(--black);
}

iframe {
    border: none;
}

.article-body {
    font-size: 15px;
    line-height: 22px;
}


footer {
    margin: 50px 0;
    border-top: var(--base-150) solid 1px;
    font-size: 15px;
    color: var(--base-700);
}

.emphasize {
    font-weight: 600;
}

.note {
    font-style: italic;
}

.quote {
    padding-left: 30px;
    padding-right: 30px;
    color: var(--base-800);
    font-style: italic;
    border-left: 3px solid var(--base-300);
    background-color: var(--base-50);
    padding: 20px 30px;
    margin: 20px 0;
}

.caption {
    font-size: 11px;
}

.cheatsheet {
    background-color: var(--base-50);
    padding: 5px 30px;
    border: 1px solid var(--base-150);
    border-radius: 8px;
}

.cheatsheet h2 {
    margin-top: 15px;
}

.candidate {
    font-weight: 600;
}

.candidate.triangle, .candidate.cinema, .candidate.library {
    color: var(--yellow-400);
}

.candidate.square, .candidate.temple, .candidate.pool {
    color: var(--blue-400);
}

.candidate.bob, .candidate.gym {
    color: var(--red-400);
}

.candidate.trump {
    color: var(--orange-400);
}

.candidate-icon {
    height: 16px;
    margin-bottom: -3px;
}
