#reset, #save{
    cursor: pointer;
    background: #aaa;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    width: 105px;
    height: 30px;
    letter-spacing: 1px;
    padding: 2px 0;
    border-radius: 5px;
    border-bottom: 2px solid #888;
    position: absolute;
    margin-top:0px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
#reset:hover, #save:hover{
    margin-top:-2px;
    background: #bbb;
    border-bottom-color: #999;
}
#reset:active, #save:active{
    margin-top:2px;
    background: #999;
    border-bottom-color: #777;
}

#description_container{
	clear: both;
	overflow: hidden;
	width: 800px;
	height: 120px;
	margin-bottom: 15px;
}
textarea, input{
	display: block;
    border: 1px solid #bbb;
    resize: none;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 15px;
    line-height: 22px;
}
#description_container textarea{
    width: 778px;
    height: 97px;
    padding: 10px;
    font-size: 16px;
}

#savelink{
	position: absolute;
    top: 471px;
    left: 240px;
    width: 543px;
    height: 15px;
    padding: 8px;
    font-size: 12px;
}